@import url("https://fonts.googleapis.com/css2?family=Piazzolla&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ceviche+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway+Dots&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merienda&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kenia&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Azeret+Mono&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
html {
  width: 100%;
  min-height: 100%;
}

body {
  display: flex;
  padding: 100px;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 20px;
  background-color: #282a56;
}

.container {
  display: flex;
  justify-content: center;
  gap: 90px;
  flex-wrap: wrap;
}

.word {
  max-width: max-content;
  display: flex;
  gap: 20px;
}

.word > span {
  position: relative;
  padding: 20px 30px;
  width: max-content;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 90px;
  max-height: 90px;
  border: 6px solid grey;
  box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.2);
  transition: all 0.8s ease-in-out;
}

.styleone {
  font-size: 72px;
  font-weight: bold;
  color: aqua;
  text-decoration: underline;
  text-transform: uppercase;
  font-family: "Piazolla", sans-serif;
}

.styletwo {
  font-size: 30px;
  font-weight: bold;
  color: darkgoldenrod;
  text-decoration: overline;
  text-transform: lowercase;
  font-family: "Ceviche One", sans-serif;
}

.stylethree {
  font-size: 60px;
  font-weight: normal;
  color: coral;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Raleway Dots", sans-serif;
}

.stylefour {
  font-size: 90px;
  font-weight: normal;
  color: rgb(255, 153, 51);
  text-decoration: line-through;
  text-transform: lowercase;
  font-family: “Azerat Mono”, sans-serif;
}

.stylefive {
  font-size: 50px;
  font-weight: 400;
  color: #9900ff;
  text-decoration: underline;
  text-transform: uppercase;
  font-family: “Merienda”, sans-serif;
}

.stylesix {
  font-size: 36px;
  font-weight: 700;
  color: hsl(195, 100%, 60%);
  text-decoration: overline;
  text-transform: lowercase;
  font-family: “Kenia”, sans-serif;
}

/* THE word */

.styleseven {
  font-size: 40px;
  font-weight: 400;
  color: aqua;
  text-decoration: none;
  text-transform: lowercase;
  font-family: “Piazolla”, sans-serif;
}

.styleeight {
  font-size: 20px;
  font-weight: 700;
  color: coral;
  text-decoration: line-through;
  text-transform: uppercase;
  font-family: “Raleway Dots”, sans-serif;
}

.stylenine {
  font-size: 50px;
  font-weight: bold;
  color: darkgoldenrod;
  text-decoration: underline overline;
  text-transform: uppercase;
  font-family: “Ceviche One”, sans-serif;
}

.styleten {
  font-size: 72px;
  font-weight: normal;
  color: rgb(255, 153, 51);
  text-decoration: line-through;
  text-transform: lowercase;
  font-family: “Azerat Mono”, sans-serif;
}

.styleeleven {
  font-size: 30px;
  font-weight: 400;
  color: #9900ff;
  text-decoration: none;
  text-transform: lowercase;
  font-family: “Merienda”, sans-serif;
}

.styletwelve {
  font-size: 42px;
  font-weight: 700;
  color: hsl(195, 100%, 60%);
  text-decoration: none;
  text-transform: uppercase;
  font-family: “Kenia”, sans-serif;
}
